.schoolboardBG{
    -fx-background-image: url("../SchoolBoard.png");
    -fx-background-size: 100% 100%;
}
.cloudBG{
    -fx-background-image: url("../WoodenPieces/cloud_card.png");
    -fx-background-size: 100% 100%;
}
.islandBG{
    -fx-background-image: url("../WoodenPieces/island1.png");
    -fx-background-size: 100% 100%;
}